<div class="experience">
  <div class="header">
    <h1>Experience</h1>
  </div>
  <div class="container">
    <div class="timeline">
      <div class="item">
        <span class="year">2019</span>
        <div class="info">
          <h1 class="title">System Engineer Intern</h1>
          <h3 class="school">IFS - Linköping, SE</h3>
          <p class="description">
            System engineer intern at IFS during my studies in Linköping. My
            tasks were moslty developing IFS Application frontend.
          </p>
        </div>
        <span class="year divider"></span>
        <div class="info">
          <h1 class="title">Frontend Developer</h1>
          <h3 class="school">Nyckelonline - Remote</h3>
          <p class="description">
            Part time employee for developing Nyckelonline's application using
            Angular 2+
          </p>
        </div>
        <span class="year">2018</span>
        <div class="info">
          <h1 class="title">Summer- & Part Time Employee</h1>
          <h3 class="school">Liseberg</h3>
          <p class="description">
            Employed during the summer of 2017, 2018, 2019 as a garbage
            collector. Main tasks were emptying and recycling all trash from the
            amusement park before opening.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
