@import '~src/variables.scss';

.experience {
  width: 100%;
  height: 100%;
  background-color: $bgDarkGray;

  .header {
    padding: 30px 60px;
    font-size: 50px;
    font-family: $poppins;
    color: $textPrimary;
    border-bottom: 1px solid $bgLightGray;
  }

  .timeline {
    padding: 50px 0;

    .item {
      margin: 30px 0;
      font-family: $poppins;
      .year {
        font-size: 20px;
        background-color: $primary;
        width: 70px;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color: $textPrimary;
      }

      .divider {
        width: 20px;
        height: 20px;
        margin-left: 25px;
      }

      .info {
        border-left: 4px solid $bgLightGray;
        padding: 20px 50px;
        margin: 10px auto 10px 33px;

        .title {
          padding-top: 0;
          margin-top: 0;
          font-size: 30px;
          color: $textPrimary;
        }

        .school {
          font-size: 25px;
          color: $textGray;
        }

        .description {
          font-size: 20px;
          color: $textGray;
        }
      }
    }
  }
}
