<div class="education">
  <div class="header">
    <h1>Education</h1>
  </div>
  <div class="container">
    <div class="timeline">
      <div class="item">
        <span class="year">Now</span>
        <div class="info">
          <h1 class="title">.NET and Web Development</h1>
          <h3 class="school">Campus Mölndal</h3>
          <p class="description">
            Vocational education in system- and web development with focus on c#
            .NET, expected graduation 2021-06
          </p>
        </div>
        <span class="year">2019</span>
        <div class="info">
          <h1 class="title">System Science</h1>
          <h3 class="school">Linköping University</h3>
          <p class="description">
            A bachelor level education in social science with focus on how
            organizations and humans can make use of digitization and its power
            to transform the society
          </p>
        </div>
        <span class="year">2016</span>
      </div>
    </div>
  </div>
</div>
