<div class="jumbotron home">
  <div class="container">
    <div class="content row flex-v-align">
      <div class="col-sm-12 col-md-5 col-lg-5">
        <img
          src="assets/profile.jpg"
          alt="Alexander Carlström"
          class="profile-pic"
        />
        <!-- <div class="img-border">
          <div class="img"></div>
        </div> -->
      </div>
      <div class="intro">
        <p class="work">Student, Developer</p>
        <h1 class="name">Alexander Carlström</h1>
        <ul class="info">
          <li><span>Age </span>23 Years</li>
          <li><span>Location </span>Gothenburg, SE</li>
          <li><span>Languages </span>English, Swedish</li>
        </ul>
        <div class="actions">
          <a
            href="https://www.linkedin.com/in/alexander-c-06a300b3/"
            target="_blank"
          >
            <fa-icon
              [icon]="linkedin"
              [fixedWidth]="true"
              class="action"
            ></fa-icon>
          </a>
          <a href="https://github.com/AlexanderCarlstrom" target="_blank">
            <fa-icon
              [icon]="github"
              [fixedWidth]="true"
              class="action"
            ></fa-icon>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
