/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald&family=Poppins&display=swap');
@import 'bootstrap/scss/bootstrap';
@import '~src/variables.scss';

body {
  width: 100vw;
  height: 100vh;
  background-color: $bgDarkGray;
}
